body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:not(.temaoscuro), html:not(.temaoscuro) {
  --colorh1: #373737;
  --fondoh1: #f2f2f2;
  --colortexto1: rgb(84, 78, 78);
  --colorbotones:rgb(213, 72, 7);
  --colorswitch: rgb(72, 110, 67);
  --fondoheader: rgb(200,200,200);
  --colorlink: rgb(213, 72, 7);
}
body.temaoscuro, html.temaoscuro {
  background-color: #373737;
  color: #ffffff;
  --colorh1: #f2f2f2;
  --fondoh1: #373737;
  --colortexto1: rgb(188, 179, 179);
  --colorbotones:rgb(227, 132, 117);
  --colorswitch: rgb(134, 233, 121);
  --fondoheader: rgb(60,60,60);
  --colorlink: rgb(227, 132, 117);
}

button {
  background-color: var(--colorbotones);
}

.elementoazul {
  background-color: black;
}

header {
  background-color: var(--fondoheader);
  color: var(--colortexto1);
  padding: 1em;
}
header h1 {
  padding: 0;
  margin: 0.5em;
}

.menuPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
}
.menuPrincipal a {
  text-decoration: none;
  color: var(--colorlink);
}
.menuPrincipal a:focus {
  font-weight: bold;
  text-shadow: 2px;
}