.formularioAdd {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition-duration: 3s;
}
.formularioAdd input, .formularioAdd button {
  font-size: 1.2em;
}
.formularioAdd.visible {
  padding: 20px;
  background-color: gray;
}
.formularioAdd.novisible {
  display: none;
}