.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloProducto {
  font-size: 2em;
  font-weight: bold;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.imagenProducto {
  width: 250px;
  height: auto;
}

.descripcion {
  width: 250px;
  text-align: justify;
}