body, html {
  margin: 0;
  padding: 100;
  box-sizing: border-box;
}
body:not(.temaoscuro), html:not(.temaoscuro) {
  --colorh1: #373737;
  --fondoh1: #f2f2f2;
}
body.temaoscuro, html.temaoscuro {
  --colorh1: #f2f2f2;
  --fondoh1: #373737;
}

body.dark {
  background-color: #373737;
  color: #ffffff;
}

.elementoazul {
  background-color: black;
}