body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:not(.temaoscuro), html:not(.temaoscuro) {
  --colorh1: #373737;
  --fondoh1: #f2f2f2;
  --colortexto1: rgb(84, 78, 78);
  --colorbotones:rgb(213, 72, 7);
  --colorswitch: rgb(72, 110, 67);
  --fondoheader: rgb(200,200,200);
}
body.temaoscuro, html.temaoscuro {
  background-color: #373737;
  color: #ffffff;
  --colorh1: #f2f2f2;
  --fondoh1: #373737;
  --colortexto1: rgb(188, 179, 179);
  --colorbotones:rgb(227, 132, 117);
  --colorswitch: rgb(134, 233, 121);
  --fondoheader: rgb(60,60,60);
}

body.dark {
  background-color: #373737;
  color: #ffffff;
}

.elementoazul {
  background-color: black;
}