@use 'Tema.scss' as *;
.paginaredux {
    text-align: center;
    h1 {

        font-size: 2em;
        color:            var(--colorh1);
        background-color: var(--fondoh1) ;
    }
    .gridpaginaredux {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
    }
    .celdagrid {
        flex-grow: 1;
        border: 1px solid gray;
        font-size: 1.5em;
    }
    .celdagrid2 {
        border: 1px solid red;
    }
    button {
        margin: 5px;
        font-size: 1em;
    }

}