@use 'colores';

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  //Indicar que el ancho 100% debe incluir paddings

    &:not(.temaoscuro) {
        --colorh1 : #{colores.$negro};
        --fondoh1:  #{colores.$gris};
        --colortexto1: rgb(84, 78, 78);
        --colorbotones:rgb(213, 72, 7);
        --colorswitch: rgb(72, 110, 67);
        --fondoheader: rgb(200,200,200);
        --colorlink: rgb(213, 72, 7);
    }
    &.temaoscuro {
        background-color: colores.$negro;
        color: colores.$blanco;
        --colorh1 : #{colores.$gris};
        --fondoh1:  #{colores.$negro};
        --colortexto1: rgb(188, 179, 179);
        --colorbotones:rgb(227, 132, 117);
        --colorswitch: rgb(134, 233, 121);
        --fondoheader: rgb(60,60,60);
        --colorlink: rgb(227, 132, 117);
    }
};

button {
    background-color: var(--colorbotones);
}

$propiedadescss:     
(
        temaoscuro: black,
        colors: (
            colorh1: pink,
            blanco:'#ffffff',
            oscuro:'#27212e',
            negro:'#373737',
            acento:'#e53251',
            gris: '#f2f2f2',
            azul: '#67e7e2',
            plata: '#716385'
        ),
        dims: (
            padding: (
                largepadding: '10vw',
                medio: '0.5vw',
                small: '1em',
                tiny: '0.2em'
            ),
            paddingamplio: '10vw',
        ),
        width: (
            tiny:  '15em',
            small: '20em',
            forms: '17.5em',
            large: '60em'
        ),
        margin:(
            small: '1em',
            normal: '2em',
            intersection: '1em'
        ),
        fonts: (
            small: '0.8em',
        ),
        circle: (
            small:'1em',
        ),
        borderRadius:(
            small:'0.4em',
            normal: '0.6em'
        ),
        sombras: (
            prof2: '0 2px 2px'
        )

); //$propiedadescss

.elementoazul {
    background-color: map-get($propiedadescss,temaoscuro);
}
